* {
  margin: 0;
  padding: 0;
  border: 0;
}

.module {
  /* background-color: black; */
  background-image: url(image/img-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

  color: white;
  text-align: center;
  padding: 90px;
}

#container-menu {
  padding: 8%;
  text-align: center;
}
.main-menu > .item {
  margin-left: -10px;
}
.main-menu > h1 {
  padding: 50px;
  text-align: center;
  transition: transform 0.2s;
}
.row {
  text-align: left;
}
.col-item {
  padding: 10px;
}
img {
  width: 100px;
  border-radius: 10%;
  height: 100px;
  transition: transform 0.2s;
  box-shadow: 0 0 25px black;
}
.price {
  position: absolute;
  top: 0;
  right: 15px;
}

@media only screen and (max-width: 760px) {
  img {
    height: 120%;
    width: 90px;
  }
  .main-menu > .item {
    margin: 15px;
  }
  .mobil {
    padding: 6%;
  }
  .mobcen {
    display: flex;
    justify-content: center;
  }
}

img:hover {
  transform: scale(1.3);
}

.main-menu > h1:hover {
  transform: scale(1.3);
  color: #da9f5b;
}
